---
---

@import "syntax_highlighting";

$pab-blue: rgba(45, 142, 253, 1);
$pab-green: rgb(34, 195, 138);

.post-link:hover {
    text-decoration: none;
}

.jumbotron {
    background: $pab-green;
    background: linear-gradient(30deg, $pab-green 0%, $pab-blue 100%);
}

.container {
    max-width: 42em;
}

a, a:hover {
    color: $pab-blue;
}

a:hover {
    text-decoration: underline;
}

pre {
    padding: 1em;
}

h1,h2,h3,h4,h5 {
    color: $pab-green
}